<div class="field-box">
	<label ng-class="helpimg ? 'tip' : null">
		{{label}}
		<div class="help-text" data-ng-show="lhelp">{{lhelp}}</div>
		<a ng-if="helpimg" ng-click="helpImg(helpimg)" class="help-tip"><i class="fa fa-question-circle"></i></a>
	</label>
	<div class="fields">
		<!-- <div class="rgen-btn-group" data-value="{{ngModel.val || 'null'}}" data-ng-click="selected = newdataModel.val">
		<label type="radio" data-ng-repeat="data in newdata" ng-class="size ? 'rgen-btn '+size : 'rgen-btn small'" data-ng-model="newdataModel.val" btn-radio="data.val">{{data.label}}</label>
		</div> -->
		<div class="rgen-btn-group">
			<label type="radio" ng-mousedown="setradio(data.val)" ng-click="radiofn()" data-ng-repeat="data in newdata" ng-class="size ? 'rgen-btn '+size : 'rgen-btn small'" data-ng-model="newdataModel.val" btn-radio="data.val">{{data.label}}</label>
		</div>
		<div class="help-text" data-ng-show="fhelp">{{fhelp}}</div>
	</div>
</div>