<div>
	<div class="typeahead-wrp">
		<input 
			type="text" 
			class="form-field{{size ? ' '+size : ' w-medium'}}" 
			placeholder="{{pholder ? pholder : ''}}" 
			data-ng-model="typeaheadData"
			typeahead="item as item.name for item in getData(searchtype, $viewValue)" 
			typeahead-loading="loadingLocations" 
			typeahead-on-select="onSelect($item, $model, $label, searchtype)">
			<i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
		
		<div class="data-container{{size ? ' '+size : ' w-medium'}}">
			<div ng-repeat="itemdata in dataSet"><i class="fa fa-minus-circle" ng-click="removeItem(itemdata)"></i> {{itemdata.name}}</div>
		</div>
	</div>
</div>