<div class="rgen-model">
	<div class="modal-header">
		<h3 class="modal-title">Carousel item settings</h3>
	</div>
	<div class="modal-body">
		<section class="rgen-panel">
			<div class="panel-container">
				<div class="rgen-form-wrp form-full">
					<rgen-radio radiodata="size_range" size="mini" label="Container width - 1100px+" data-ng-model="modaldata.w1100"></rgen-radio>
					<rgen-radio radiodata="size_range" size="mini" label="Container width - 1000px" data-ng-model="modaldata.w1000"></rgen-radio>
					<rgen-radio radiodata="size_range" size="mini" label="Container width - 900px" data-ng-model="modaldata.w900"></rgen-radio>
					<rgen-radio radiodata="size_range" size="mini" label="Container width - 800px" data-ng-model="modaldata.w800"></rgen-radio>
					<rgen-radio radiodata="size_range" size="mini" label="Container width - 700px" data-ng-model="modaldata.w700"></rgen-radio>
					<rgen-radio radiodata="size_range" size="mini" label="Container width - 600px" data-ng-model="modaldata.w600"></rgen-radio>
					<rgen-radio radiodata="size_range" size="mini" label="Container width - 500px" data-ng-model="modaldata.w500"></rgen-radio>
					<rgen-radio radiodata="size_range" size="mini" label="Container width - 400px" data-ng-model="modaldata.w400"></rgen-radio>
					<rgen-radio radiodata="size_range" size="mini" label="Container width - 300px" data-ng-model="modaldata.w300"></rgen-radio>
					<rgen-radio radiodata="size_range" size="mini" label="Container width - 200px" data-ng-model="modaldata.w200"></rgen-radio>
				</div>
			</div>
		</section>
		
		
	</div>
	<div class="modal-footer">
		<button class="rgen-btn mediumlight" ng-click="apply()">Apply</button>
		<button class="rgen-btn" ng-click="cancel()">Cancel</button>
	</div>
</div>