<div class="rgen-model">
	<div class="modal-header">
		<h3 class="modal-title">Settings</h3>
	</div>
	<div class="modal-body">
		<div class="rgen-form-wrp">
			<rgen-onoff label="Status" data-ng-model="modaldata.status"></rgen-onoff>
			<div ng-show="modaldata.status == true">
				<rgen-fonts ng-if="config.fonts == 1" label="Fonts" buttonlabel="Edit" data-ng-model="modaldata.fonts"></rgen-fonts>
				<rgen-colorpicker ng-if="config.bg == 1" label="Background" data-ng-model="modaldata.background"></rgen-colorpicker>
				
				<div class="field-box" ng-if="config.color == 1 || config.f_size == 1 || config.align == 1">
					<label>Text settings</label>
					<div class="fields">
						<ul class="form-row">
							<li ng-if="config.color == 1">
								<label class="lbl">Color</label>
								<rgen-colorpicker type="alone" label="Text color" data-ng-model="modaldata.color"></rgen-colorpicker>
							</li>
							<li ng-if="config.f_size == 1">
								<label class="lbl">Text size</label>
								<rgen-select type="alone" selectdata="font_size" size="w-mini" data-ng-model="modaldata.f_size"></rgen-select>
							</li>
							<li ng-if="config.align == 1">
								<label class="lbl">Text align</label>
								<rgen-radio type="alone" radiodata="alignment" label="Text align" data-ng-model="modaldata.text_align"></rgen-radio>
							</li>
						</ul>
					</div>
				</div>

				<div class="field-box" ng-if="config.w == 1 || config.h == 1">
					<label>
						Dimensions
						<div class="help-text">Value will apply in PX</div>
					</label>
					<div class="fields">
						<ul class="form-row">
							<li ng-if="config.w == 1">
								<label class="lbl">Width</label><br>
								<input type="text" class="form-field w-tiny" data-ng-model="modaldata.w">
							</li>
							<li ng-if="config.h == 1">
								<label class="lbl">Height</label><br>
								<input type="text" class="form-field w-tiny" data-ng-model="modaldata.h">
							</li>
						</ul>
					</div>
				</div>

				<rgen-border ng-if="config.border == 1" label="Border" buttonlabel="Edit" data-ng-model="modaldata.border"></rgen-border>
				<rgen-padding ng-if="config.padding == 1" label="Padding" buttonlabel="Edit" data-ng-model="modaldata.padding"></rgen-padding>
				<rgen-margin ng-if="config.margin == 1" label="Margin" buttonlabel="Edit" data-ng-model="modaldata.margin"></rgen-margin>
				<rgen-shadow ng-if="config.shadow == 1" label="Shadow" buttonlabel="Edit" data-ng-model="modaldata.shadow"></rgen-shadow>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="rgen-btn mediumlight" ng-click="apply()">Apply</button>
		<button class="rgen-btn" ng-click="cancel()">Cancel</button>
	</div>
</div>